body {
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\User Pc\Desktop\Angular\Sample\src\assets\download.jpg');
    background-size: cover;
    background-position: center;
    height: 1000px;
  }
  
  
  
  
  
  